# LIST

In [52]:
lst=["Pranay Rao",20,9246903888,"pranay.dboss99@gmail.com"]

In [2]:
lst

['Pranay Rao', 20, 9246903888, 'pranay.dboss99@gmail.com']

In [ ]:
#lst.append,index,pop,insert,count

In [3]:
lst.append("Hyderabad")

In [4]:
lst

['Pranay Rao', 20, 9246903888, 'pranay.dboss99@gmail.com', 'Hyderabad']

In [10]:
lst.index(9246903888)
lst.pop(3)
lst.insert(3,"Engineering")

In [11]:
lst

['Pranay Rao', 20, 9246903888, 'Engineering', 'Hyderabad']

In [12]:
lst.count(20)

1


# DICTIONARIES

In [13]:
dict={"Name":"Pranay Rao","Age":20,"Location":"Hyderabad","PhNo":9246903888}

In [14]:
dict

{'Name': 'Pranay Rao', 'Age': 20, 'Location': 'Hyderabad', 'PhNo': 9246903888}

In [ ]:
#dict.get,keys,items,pop,update

In [17]:
dict.get("Name")

'Pranay Rao'

In [23]:
dict.keys()

dict_keys(['Name', 'Age', 'Location'])

In [20]:
dict.items()

dict_items([('Name', 'Pranay Rao'), ('Age', 20), ('Location', 'Hyderabad')])

In [24]:
dict.pop("Age")

20

In [25]:
dict1={"Phno":924690388}

In [26]:
dict.update(dict1)

In [27]:
dict

{'Name': 'Pranay Rao', 'Location': 'Hyderabad', 'Phno': 924690388}

# SET

In [28]:
st={"Pranay",9,2,4,6,9,0,3,8,8,8,"Hyderabad"}

In [29]:
st

{0, 2, 3, 4, 6, 8, 9, 'Hyderabad', 'Pranay'}

In [ ]:
#st.add,difference,intersection,isdisjoint,union

In [31]:
st.add(20)

In [32]:
st

{0, 2, 20, 3, 4, 6, 8, 9, 'Hyderabad', 'Pranay'}

In [33]:
st1={9,9,4,9,4,0,3,8,8,8}

In [34]:
print(st.difference(st1))

{2, 6, 'Pranay', 20, 'Hyderabad'}

In [35]:
print(st.intersection(st1))

{0, 3, 4, 8, 9}

In [36]:
print(st.isdisjoint(st1))

False

In [37]:
st.union(st1)

{0, 2, 20, 3, 4, 6, 8, 9, 'Hyderabad', 'Pranay'}

# TUPLES

In [42]:
tup=("Pranay",20,"Hyderabad","Jubilee hills","Hyderabad")

In [44]:
tup

('Pranay', 20, 'Hyderabad', 'Jubilee hills', 'Hyderabad')

In [ ]:
#tup.index,count

In [41]:
tup.index(20)

1

In [43]:
tup.count("Hyderabad")

2

# STRINGS

In [45]:
str="Pranay Rao"

In [46]:
str

'Pranay Rao'

In [ ]:
#str.capitalize,center,islower,swapcase,startswith

In [47]:
str.capitalize()

'Pranay rao'

In [48]:
str.center(14)

'  Pranay Rao  '

In [49]:
str.islower()

False

In [50]:
str.swapcase()

'pRANAY rAO'

In [51]:
str.startswith("Pranay")

True